<div class="container">
  <span style="margin-left: 17%; font-size: 1.125rem;">
    Questions? <a>Call 1-877-742-1335</a>
  </span>
  <div class="footer-columns">
    <ul>
      <li><a>FAQ</a></li>
      <li><a>Investor Relations</a></li>
      <li><a>Ways to watch</a></li>
      <li><a>Corporate Information</a></li>
      <li><a>Netflix Originals</a></li>
    </ul>
    <ul>
      <li><a>Help Center</a></li>
      <li><a>Jobs</a></li>
      <li><a>Terms of Use</a></li>
      <li><a>Contact Us</a></li>
    </ul>
    <ul>
      <li><a>Account</a></li>
      <li><a>Redeem Gift Cards</a></li>
      <li><a>Privacy</a></li>
      <li><a>Speed Test</a></li>
    </ul>
    <ul>
      <li><a>Media Center</a></li>
      <li><a>Buy Gift Cards</a></li>
      <li><a>Cookie Preferences</a></li>
      <li><a>Legal Notices</a></li>
    </ul>
    <div class="language-btn">
      <mat-icon>language</mat-icon
      ><select class="language-toggle">
        <option *ngFor="let lang of language" [value]="lang.Id">{{
          lang.Language
        }}</option> </select
      >&nbsp;&nbsp;
    </div>
  </div>
  <span style="margin-left: 15%; font-size: 0.9rem;">Netflix Kenya</span>
</div>
