<div class="header-container">
  <div class="header-top">
    <img src="assets/svg/logo.svg" alt="" />
    <h1>Mini-Netflix</h1>
    <a [routerLink]="" class="signIn-btn">Sign In</a>
  </div>
  <div class="header-content">
    <h1>See what's next...</h1>
    <h2>WATCH ANYWHERE. CANCEL ANYTIME.</h2>
    <button class="main-offer-btn">
      try it now<span
        ><span class="arrow-forward"
          ><mat-icon>arrow_forward_ios</mat-icon></span
        ></span
      >
    </button>
  </div>
</div>
