<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="tab-icon-door" src="../../assets/svg/tab-door.svg" />
      <span class="cancel"
        >No commitments<br />
        Cancel online anytime</span
      >
    </ng-template>
    <div><Tab-Door></Tab-Door></div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="tab-icon-devices" src="../../assets/svg/tab-devices.svg" />
      <span class="dev">Watch anywhere</span>
    </ng-template>
    <div><Tab-Device></Tab-Device></div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="tab-icon-price" src="../../assets/svg/tab-price.svg" />
      <span class="price">Pick your price</span>
    </ng-template>
    <div><Tab-Price></Tab-Price></div>
  </mat-tab>
</mat-tab-group>
