<div class="container">
  <div class="tab-content">
    <div class="tab-top-content">
      <span>
        Watch TV shows and movies anytime, anywhere - personalized for you
      </span>
      <button class="little-button">try it now</button>
    </div>
    <div class="tab-bottom-content">
      <div>
        <img
          src="../../../assets/images/tab-tv.webp"
          alt=""
          style="width: 18.75rem"
        />
        <h3>Watch on your TV</h3>
        <p>
          Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players
          and more.
        </p>
      </div>
      <div>
        <img
          src="../../../assets/images/tab-tablet.webp"
          alt=""
          style="width: 18.75rem; padding-top: 0.625rem"
        />
        <h3>Watch instantly or download for later</h3>
        <p>Available on phone and tablet, wherever you go.</p>
      </div>
      <div>
        <img
          src="../../../assets/images/tab-macbook.webp"
          alt=""
          style="
            width: 18.75rem;
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
          "
        />
        <h3>Use any computer</h3>
        <p>Watch right on Netflix.com</p>
      </div>
    </div>
  </div>
</div>
