p {
  color: var(--main-grey);
}
.container {
  background: var(--main-deep-dark);
}
.little-button {
  display: inline-block;
  background: var(--main-red);
  text-transform: uppercase;
  border: none;
  outline: none;
  margin: 0;
  padding: 0.8rem 1.1rem;
  border-radius: 0.1875rem;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  transition: background 0.2s ease-in;
  cursor: pointer;
  font-size: 0.9rem;
  color: #fff;
  margin-top: 1rem;
  grid-column: 9 / 12;
  margin-left: 3rem;
  margin-right: 5.1rem;
  margin-bottom: 3rem;
}
.little-button:hover {
  background: var(--main-red-hover);
}
span {
  grid-column: 3/9;
}
.tab-content {
  margin: 0 12%;
  padding-bottom: 1%;
}
.tab-top-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 3rem 0 0;
}
.material-icons {
  font-size: 19px;
}
.tab-bottom-content {
  margin: 2rem auto;
}

table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
}
table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}
table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
table tbody tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}
table tbody tr td:first-child {
  text-align: left;
}
table tbody tr:nth-child(even) {
  background: #222;
}
