<div>
  <div class="tab-content">
    <div class="tab-top-content">
      <span style="font-size: 1.5rem;"
        >Choose one plan and watch everything on Netflix</span
      >
      <button class="little-button">try it now</button>
    </div>
    <div class="tab-bottom-content">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Basic</th>
            <th>Standard</th>
            <th>Premium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monthly price</td>
            <td>$9.99</td>
            <td>$13.99</td>
            <td>$16.99</td>
          </tr>
          <tr>
            <td>HD Available</td>
            <td><mat-icon>close</mat-icon></td>
            <td><mat-icon>check</mat-icon></td>
            <td><mat-icon>check</mat-icon></td>
          </tr>
          <tr>
            <td>Ultra HD Available</td>
            <td><mat-icon>close</mat-icon></td>
            <td><mat-icon>close</mat-icon></td>
            <td><mat-icon>check</mat-icon></td>
          </tr>
          <tr>
            <td>Screens you can watch on at the same time</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Unlimited movies and TV shows</td>
            <td><mat-icon>check</mat-icon></td>
            <td><mat-icon>check</mat-icon></td>
            <td><mat-icon>check</mat-icon></td>
          </tr>
          <tr>
            <td>Cancel anytime</td>
            <td><mat-icon>check</mat-icon></td>
            <td><mat-icon>check</mat-icon></td>
            <td><mat-icon>check</mat-icon></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
